<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="0" name="GuruEcommerece">
<listeners>
<listener  class-name="org.uncommons.reportng.HTMLReporter"      ></listener>
<listener  class-name="org.uncommons.reportng.JUnitXMLReporter"      ></listener>
<listener  class-name= "utility.CustomeListeners"></listener>
</listeners>

	<test name="Place Order">
	      <parameter name="email" value="pari@gmail.com" />
		<parameter name="passwrd" value="parimal" />
			
		<classes>
			<class name="test.PlaceOrder">
			<methods>
			<include name = "proceedToCheckout"></include>
				<include name = "billingAddress"></include>
			
			</methods>
			</class>
			</classes>
	</test> <!-- Test -->
	
	
</suite> <!-- Suite -->